<template>
    <div class="alert alert-danger" v-if="error">
        <p>Could not signin with those details!</p>
    </div>
    <!-- <div class="alert alert-success" v-if="success">
        <p>Signup success, now you can signin!</p>
    </div> -->
    <form v-on:submit="signin">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" v-model="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" v-model="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
    </form>
</template>

<script>
    import auth from '../auth'

    export default {
        data() {
            return {
                email: null,
                password: null,
                error: false
            }
        },
        methods: {
            signin(e) {
                e.preventDefault();
                auth.signin(this, this.email, this.password);
            }
        }
    }
</script>















