<template>
    <div class="alert alert-danger" v-if="error && !success">
        <p>Could not signup!</p>
    </div>
    <div class="alert alert-success" v-if="success">
        <p>Signup success, now you can signin!</p>
    </div>
    <form v-on:submit="signup" v-if="!success">
        <div class="form-group" v-bind:class="{ 'has-error': error && response.username }">
            <label for="username">Username</label>
            <input type="text" v-model="username" name="username" class="form-control" required>
            <span class="help-block" v-if="error && response.username">{{ response.username }}</span>
        </div>
        <div class="form-group"  v-bind:class="{ 'has-error': error && response.email }">
            <label for="email">Email</label>
            <input type="email" v-model="email" name="email" class="form-control" placeholder="you@domain.com" required>
            <span class="help-block" v-if="error && response.email">{{ response.email }}</span>
        </div>
        <div class="form-group"  v-bind:class="{ 'has-error': error && response.password }">
            <label for="password">Password</label>
            <input type="password" v-model="password" name="password" class="form-control" required>
            <span class="help-block" v-if="error && response.password">{{ response.password }}</span>
        </div>
        <button type="submit" class="btn btn-default">Sign up</button>
    </form>
</template>

<script>
    import auth from '../auth'

    export default {
        data() {
            return {
                username: null,
                email: null,
                password: null,
                success: false,
                error: false,
                response: null
            }
        },
        methods: {
            signup (e) {
                e.preventDefault();
                console.log(this.email, this.username, this.password);
                auth.signup(this, this.email, this.username, this.password);
            }
        }
    }
</script>